/* @import url('https://fonts.googleapis.com/css2?family=Preahvihear&family=Ubuntu:ital@1&display=swap'); */
body {
  font-family: "Preahvihear", sans-serif;
  font-family: "Ubuntu", sans-serif;
}
.img-ctrl img {
  width: 25%;
  margin: 0px 4px;
}
.img-ctrl img:hover {
  width: 28%;
  margin: 0px 4px;
}
.container form {
  display: flex;
  flex-direction: column;
  padding: 5px;
  margin: 3px auto;
  max-width: 50vw;

}
.container form input,
textarea {
    padding: 10px;
    margin: 9px 0px;
    border: 3px solid black;
    border-radius: 13px;
    width: 35vw;
}
.submit_btn {
  padding: 7px;
  margin: 9px 0px;
  border: 3px solid black;
  border-radius: 13px;
}
.Tagline{
    text-align: center;
    margin-top: 20px;
}
.form-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 10px;
    /* justify-content: space-between; */
}
.img_handle img{
   width: 43vw;
   border-radius: 20px;
}
