.shopCont{
    margin: 40px 0px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    /* background-color: snow; */
}
.firstRow{
    width: 23%;
    border: snow;
    cursor: pointer;
}
.pic img{
    width: 100%;
    border-radius: 25px;
}
.detail{
    margin: 3px 0px;
    padding: 5px 0px;
    /* display: flex;
    margin: 4px 3px;
    align-items: center; */
    /* justify-content: space-around; */
}
.shopbtn{
   width: 100%;
   margin: 5px 0px;
   padding: 10px 20px;
   border-radius: 20px;
}
.heading
{
    /* background-color: red; */
    /* margin: 21px 0px; */
    padding: 11px 80px;
    margin: 5px 0px;
}
.heading h1{
    color: dimgray;
    text-align: center;
    margin: 13px 0px;
}
.pic1 img{
    width: 80%;
    border-radius: 25px;
}
.firstRow:hover{
    border-radius: 20px;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
    transition: box-shadow 0.5s ease;
}
.carousel-item img{
    height: 100vh;
}
/* .left
{
    margin:0px 40px ;
} */