@import url("https://fonts.googleapis.com/css2?family=Preahvihear&display=swap");

body {
  width: 80vw;
  margin: auto;
  background-color: #f7f2f2;
}
/* navbar css */

* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Preahvihear", sans-serif;
}
#navigation {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 14px 0px;
  /* margin-bottom: 103px; */
}
nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
}
nav ul li {
  padding: 10px 10px;
  list-style: none;
}
nav ul li a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}
nav ul li a:hover {
  border-bottom: 3px solid black;
  font-size: 17px;
}

#navigation img {
  width: 11%;
  padding: 5px 0px;
  margin: 0px 10px;
}
#navigation img:hover {
  width: 12%;
}

/* banner - 1  css  */

.upperSpan {
  color: red;
  margin: 10px 0px;
}
.lowerSpan {
  color: dimgray;
  margin: 10px 0px;
}
.bannerSection {
  /* margin: 50px auto; */
  height: 93vh;
  width: 100%;
  display: flex;
  background-image: url("../img/banner1.png");
  background-position: center;
  background-size: cover;
  flex-direction: row;
  justify-content: space-around;
}
.banner1Left {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.banner1Right {
  display: flex;
  width: 50%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.banner1Left h1 {
  font-size: 38px;
}
.btn {
  background-color: white;
  padding: 10px 15px;
  margin: 10px 10px;
  border-radius: 10px;
}
#arrow_img {
  height: 25px;
  width: 25px;
  position: relative;
  top: 6px;
}
.btn > span {
  font-size: 16px;
  padding: 10px 3px;
}
.btn:hover {
  background-color: rgb(211, 211, 211);

  transition: background-color 0.5s ease;
}
#product1{
  text-align: center;
}
#product1 .pro{
  width:23%;
  min-width: 250px;
  padding:10px 12px;
  border:1px snow;
  border-radius: 25px;
  cursor:pointer;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
  margin: 15px 0;
  transition: 0.2s ease;
  position:relative;

}
#product1 .pro:hover{
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06)
}
#product1 .pro img{
  width:100%;
  border-radius:20px;

}
#product1 .pro .des{
  text-align: start;
  padding:10px 0;
}
#product1 .prp .des span{
  color:#606063;
  font-size:12px;
}
#product1 .prp .des i{
  font-size: 12px;
  color:rgb(243, 181, 25);


}

#product1 .prp .des h5{
  padding-top: 7px;
  color:#1a1a1a;
  font-size:14px;

}
#product1 .pro .cart{
  width:40px;
  height:40px;
  line-height: 40px;
  line-break: 50px;
  background-color: #e8f6ea;
  font-weight:500;
  color:green;
  border: 1px solid white;
  position:absolute;
  bottom:20px;
  right:10px;
}
#product1 .pro-container{
  display:flex;
  justify-content: space-between;
  padding-top:20px;
  flex-wrap:wrap;
}
/* update-section-css */
.up-center-text h2{
  text-align: center;
  color: #111;
  font-size: 25px;
  text-transform: capitalize;
  font-weight: 700;
  margin-bottom: 30px;
}
.cart img{
  width: 380px;
  height: auto;
  border-radius: 5px;
}
.update-cart{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(380px, auto));
  gap: 1rem;
}
.cart h5{
  color: #636872;
  font-size: 14px;
  text-transform: capitalize;
  font-weight: 500;
}
.cart h4{
  color: #111;
  font-size: 18px;
  font-weight: 600;
}
.cart p{
  color: #707070;
  font-size: 15px;
  max-width: 380px;
  line-height: 25px;
  margin-bottom: 12px;
}
.cart h6{
  color: #151515;
  font-size: 14px;
  font-weight: 500;
}
.client-reviews{
  background-color: #F3F4F6;
 
}
.reviews{
  text-align: center;

  
}
.reviews h3{
  color: #111;
  font-size: 25px;
  text-transform: capitalize;
  text-align: center;
  font-weight: 700;
}
.reviews img{
  width: 100px;
  height: auto;
  border-radius: 50px;
  margin: 10px 0;
  
}
.reviews p{
  color: #707070;
  font-size: 16px;
  font-weight: 400;
  line-height: 25px;
  margin-bottom: 10px;
}
.reviews h2{
  font-size: 22px;
  color: #000;
  font-weight: 400;
  text-transform: capitalize;
  margin-bottom: 2px;
}